/* header.component.css */
.header {
  display: flex;
  justify-content: space-between; /* Verteilt die Elemente zwischen Logo und Buttons */
  align-items: center; /* Zentriert die Elemente vertikal */
  padding: 10px 20px; /* Padding oben, unten, links, rechts */
  background-color: #007bff; /* Hintergrundfarbe */
  color: white;
  margin-bottom: 20px; /* Abstand unterhalb des Headers */
  border-radius: 10px;
}

.logo h1 {
  margin: 0; /* Entfernt den Standardabstand */
  font-size: 24px;
}

.buttons {
  display: flex; /* Zeigt die Buttons nebeneinander an */
  gap: 10px; /* Abstand zwischen den Buttons */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-blog-button {
  background-color: #fff;
  color: #007bff;
}

.create-blog-button:hover {
  background-color: #004188;
  color: white;
}

.login-button {
  background-color: #fff;
  color: #007bff;
}

.login-button:hover {
  background-color: #004188;
  color: white;
}
