<header class="header">
  <div class="logo">
    <h1>BlogApp</h1>
  </div>
  <div class="buttons">
    @if (isAuthenticated()) {
      <div>Hello {{ userName()?.toString() }}!</div>
      <button class="create-blog-button" (click)="onCreateNewBlogClick()">
        Create New Blog
      </button>
    }
    <div>
      @if (!isAuthenticated()) {
        <button class="login-button" (click)="onLoginClick()">Login</button>
      }
      @if (isAuthenticated()) {
        <button class="login-button" (click)="onLogoutClick()">Logout</button>
      }
    </div>
  </div>
</header>
