<div style="text-align: center">
  <h1>{{ title }}</h1>
  <button mat-button (click)="toggleList()">
    {{ showList ? "Hide" : "Show" }} Items
  </button>

  <div *ngIf="showList">
    <h2>Items List</h2>
    <ul>
      <li
        *ngFor="let item of items"
        [ngClass]="{ selected: selectedItem === item }"
        (click)="selectItem(item)"
        (keydown.enter)="selectItem(item)"
        (keyup.space)="selectItem(item)"
        tabindex="0"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <div>
    <h2>User Input</h2>
    <input [(ngModel)]="userInput" placeholder="Type something..." />
    <p>You typed: {{ userInput }}</p>
  </div>

  <div [ngStyle]="{ color: selectedItem ? 'blue' : 'black' }">
    <h3 *ngIf="selectedItem">Selected Item: {{ selectedItem }}</h3>
    <h3 *ngIf="!selectedItem">No item selected.</h3>
  </div>

  <div *ngIf="selectedItem">
    <p *ngSwitch="selectedItem">
      <ng-container *ngSwitchCase="'Item 1'">You selected Item 1!</ng-container>
      <ng-container *ngSwitchCase="'Item 2'">You selected Item 2!</ng-container>
      <ng-container *ngSwitchCase="'Item 3'">You selected Item 3!</ng-container>
      <ng-container *ngSwitchDefault>Please select an item!</ng-container>
    </p>
  </div>
</div>

<style>
  .selected {
    font-weight: bold;
    color: red;
  }
</style>
