<mat-card class="blog-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="blog-header-image"></div>
    <mat-card-title>{{ blog?.title }}</mat-card-title>
  </mat-card-header>
  <div
    class="blog-card-image"
    [ngStyle]="{
      'background-image':
        'url(' +
        (blog?.headerImageUrl ||
          'https://via.placeholder.com/300x200?text=No+Image+Available') +
        ')',
    }"
  ></div>
  <mat-card-content>
    <mat-card-subtitle class="black-subtitle">{{
      blog?.contentPreview
    }}</mat-card-subtitle>
  </mat-card-content>
  <!--  <mat-card-actions>-->
  <!--    <button mat-button>LIKE</button>-->
  <!--    <button mat-button>SHARE</button>-->
  <!--  </mat-card-actions>-->
</mat-card>
