.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Cursor als Hand-Symbol */
  text-decoration: none; /* Keine Unterstreichungen */
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card-image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
}

.blog-card-content {
  padding: 15px;
  flex-grow: 1; /* Flexibilität für den Mittelteil */
  display: flex;
  flex-direction: column;
}

.blog-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
  white-space: nowrap; /* Kein Zeilenumbruch */
  overflow: hidden; /* Ausserhalb abgeschnitten */
  text-overflow: ellipsis; /* "..." bei Überlauf */
}

.blog-card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  overflow: hidden;
  display: -webkit-box; /* Flexibler Zeilenumbruch */
  -webkit-line-clamp: 3; /* Maximale Zeilenanzahl */
  -webkit-box-orient: vertical;
}

.blog-card-footer {
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.blog-date {
  font-size: 0.8rem;
  color: #999;
  margin: 0;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* oder volle Höhe, z.B. 100vh */
}

// STYLES FÜR DEN "LOAD MORE BLOGS" BUTTON
.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Abstand zum restlichen Inhalt */
}

.load-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}
