<div class="blog-details-container" *ngIf="blog; else loading">
  <div class="blog-header">
    <div
      class="blog-image"
      [ngStyle]="{
        'background-image':
          'url(' +
          (blog.headerImageUrl || 'https://via.placeholder.com/1200x400') +
          ')',
      }"
    ></div>
    <div class="blog-title-container">
      <h1 class="blog-title">{{ blog.title }}</h1>
      <div class="blog-meta">
        <p class="blog-author">Author: {{ blog.author }}</p>
        <p class="blog-date">
          Created at: {{ blog.createdAt | date: "longDate" }}
        </p>
      </div>
    </div>
  </div>
  <div class="blog-content">
    <p>{{ blog.content }}</p>
  </div>
  <div class="blog-comments">
    <h3>Comments:</h3>
    <div class="comment" *ngFor="let comment of blog.comments">
      <p>
        <strong>{{ comment.author }}</strong
        >: {{ comment.content }}
      </p>
      <p class="comment-date">{{ comment.createdAt | date: "short" }}</p>
    </div>
  </div>
  <button class="back-button" (click)="navigateBack()">Back to Overview</button>
</div>

<ng-template #loading>
  <div class="loading-spinner-container">
    <div class="spinner"></div>
  </div>
</ng-template>
