<div class="blog-details-container" *ngIf="blogPost; else loading">
  <div class="blog-header">
    <div
      class="blog-image"
      [ngStyle]="{
        'background-image':
          'url(' +
          (blogPost.headerImageUrl ||
            'https://picsum.photos/seed/' + blogPost.id + '/1200/400') +
          ')',
      }"
    ></div>
    <div class="blog-title-container">
      <h1 class="blog-title">{{ blogPost.title }}</h1>
      <div class="blog-meta">
        <p class="blog-author">
          {{ "AUTHOR" | translate }}: {{ blogPost.author }}
        </p>
        <p class="blog-date">
          {{ "CREATED_AT" | translate }}:
          {{ blogPost.createdAt | date: "longDate" }}
        </p>
      </div>
    </div>
  </div>
  <div class="blog-content">
    <p>{{ blogPost.content }}</p>
  </div>
  <div class="blog-comments">
    <h3>{{ "COMMENTS" | translate }}</h3>
    <div class="comment" *ngFor="let comment of blogPost.comments">
      <p>
        <strong>{{ comment.author }}</strong
        >: {{ comment.content }}
      </p>
      <p class="comment-date">{{ comment.createdAt | date: "short" }}</p>
    </div>
  </div>
  <button class="back-button" (click)="navigateBack()">
    {{ "BACK_TO_OVERVIEW" | translate }}
  </button>
</div>

<ng-template #loading>
  <div class="loading-spinner-container">
    <div class="spinner"></div>
  </div>
</ng-template>
